h1 {
	color: blue;
}
p.first {
  color: green;
  background-color: black;
}
p.second {
  color: black;
  background-color: gray;
}
p.third {
  color: green;
  background-color: purple;
}
em {
  color: red;
}
u {
  color: yellow;
  background-color: red;
}