h1 {
  color: gray;
}
p {
  color: red;
}
p.a {
  background-color:#0000cc;
}
p.b {
  background-color:#0000f5;
}
p.c {
  background-color:#1f1fff;
}
p.d {
  background-color:#7070ff;
}
p.e {
  background-color:#9999ff;
}
p.f {
  background-color:#c2c2ff;
}
p.g {
  background-color:#ebebff;
}
p.h {
  background-color:#008080;
}
p.i {
  background-color:#ffd6dd;
}
p.j {
  background-color:#ffadbb;
}
p.k {
  background-color:#ff8599;
}
p.l {
  background-color:#ff5c77;
}
p.m {
  background-color:#ff3355;
}
p.n {
  background-color:#ff0a33;
}
p.o {
  background-color:#ff0a33;
}

